.start {
  display: grid;
  place-items: center;
  min-height: 100vh;
  background-color: #252525;

  &-form {
    width: 45%;
    margin: 0 auto;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    padding: 0.3rem 0.2rem;
    height: 350px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 1rem;

    &__title {
      font-weight: 500;
      font-size: 1.3rem;
    }
    &__subtitle {
      font-size: 1.1rem;
      font-weight: 500;
      margin: 0.5rem 0;
    }
    &__btn {
      width: 170px;
      background-color: rgb(99, 102, 241);
      border: 2px solid transparent;
      color: #fff;
      height: 40px;
      font-size: 1.1rem;
      font-weight: 600;
      border-radius: 0.5rem;
      margin-top: 1rem;
      transition: all 0.4s ease-in-out;
      cursor: pointer;

      &:hover {
        background-color: transparent;
        transition: all 0.4s ease-in-out;
        border: 2px solid rgb(99, 102, 241);
      }
    }
    &__input {
      width: 90%;
      height: 45px;
      border-radius: 0.5rem;
      margin: 0.8rem auto;
      outline: none;
      background-color: #aaa;
      border: 3px solid transparent;
      text-align: center;
      font-size: 1.3rem;
      font-weight: 600;
      transition: all .4s ease-in-out;

      &.error{
        border: 3px solid #ff0000;
        transition: all .4s ease-in-out;
      }
      &:focus{
        transition: all .4s ease-in-out;
        background-color: #fff;
      }
    }
    &__errors{
      font-size: .9rem;
      color: #eee;
      font-weight: 500;
    }

    @media screen and (max-width: 992px) {
      width: 50%;
    }
    @media screen and (max-width: 768px) {
      width: 70%;
    }
    @media screen and (max-width: 600px) {
      width: 95%;

      &__subtitle {
        font-size: .9rem;
      }
    }
  }
}
